{% extends "site_base.html" %}

{% load i18n %}
{% block ermis_title %} {% trans "About GeoNode" %} — {{ block.super }} {% endblock %}

{% block ermis_content %}
<div style="padding:60px;">
<h2 class="text-center">{% trans "ERMIS-F Geoportal" %}</h2>
<br/>
<div class="container">
<div class="row">
　　{% trans "The Geoportal is the geospatial data repository of the ERMIS-F Public Information Service and it has a WebGIS system for cartographic navigation and processing. The Geoportal application offers ready-made digital maps (WebGIS) as well as geographical data related to the management of flood risks via the internet to all those involved in flood control studies and projects. Maps and geographic data can help professionals prepare better hydrological and hydraulic studies and design flood defenses with less uncertainty. They can also be used by local authorities and agencies or ordinary citizens to be informed about the risks of flooding in their area and to take them into account in the decision-making process." %}
</div>
<br/>
<div class="row">
{% trans "In detail, the Geoportal offers the following functions:" %}
</div>
<br/>
<ul><li>
　　{% trans "Simple and advanced search for thematic layers and maps." %}
</li>

<li>
　　{% trans "Visualisation, cartographic navigation and online processing of thematic layers and maps; ability to download and print thematic layers and maps." %}
</li>
<li>
　　{% trans "Ability to upload thematic layers related to flood risk (e.g. past flood events, land cover, digital terrain model, hydrographic network, meteorological/climatic data, etc.). Addition of metadata (based on international standards) and cartographic display settings." %}
</li>
<li>
　　{% trans "Creation of adapted cartographic compositions (maps) with a combination (overlay) of thematic layers, such as risk maps, danger zones, residential developments, etc." %}
</li>
<li>
　　{% trans "Search for thematic layers and maps based on criteria (lexical and/or geographical)." %}
</li>
<li>
　　{% trans "Provision of access to other ERMIS-F subsystems and applications." %}
</li>

</ul>
<br/>
<div class="row">
{% trans "Some of the advantages are:" %}
</div>

<ol>
<li>
{% trans "It offers easy access to accumulated and localized material (maps, geographic and geospatial data, model results, land use scenarios, etc.), which is either difficult to find in another way or that are time-consuming." %}
</li>
<li>
{% trans "Provides free data in an editable form (time-saving)." %}
</li>
<li>
{% trans "It can be a useful educational tool for schools and universities due to the gathering of information in one place." %}
</li>
<li>
{% trans "Flood maps show areas with the highest risk of flooding so they can lead to more effective prevention. At the same time and in combination with ERMIS-F’s Knowledge Base, it offers in one place a number of important information about floods, flood management projects and legislation." %}
</li>
<li>
{% trans "Provides tools and mainly data for the design and study of various types of projects (urban, spatial, environmental studies)." %}
</li>
<li>
{% trans "Informs residents about the danger in a specific area and allows the adoption of appropriate self-protection measures (impact cost reduction)." %}
</li>
</ol>

</div>
</div>
{% endblock %}
