{% extends "site_base.html" %}

{% load i18n %}
{% block ermis_title %} {% trans "About GeoNode" %} — {{ block.super }} {% endblock %}

{% block ermis_content %}
<div style="padding:60px;">
<h2 class="text-center">{% trans "ERMIS-F Geoportal" %}</h2>
<br/>
<div class="container">
<div class="row">
　　{% trans "Αποτελεί το αποθετήριο των γεω-χωρικών δεδομένων και διαθέτει σύστημα webGIS για χαρτογραφική πλοήγηση και επεξεργασία. Αναλυτικά παρέχει τις παρακάτω λειτουργίες:" %}
</div>
<br/>
<ul><li>
　　{% trans "Ανέβασμα (upload) θεματικών επιπέδων (layers) που σχετίζονται με τον πλημμυρικό κίνδυνο (π.χ. ιστορικές πλημμύρες, κάλυψη γης, ψηφιακό μοντέλο εδάφους, υδρογραφικό δίκτυο, μετεωρολογικά/κλιματικά δεδομένα κλπ).  Προσθήκη μεταδεδομένων (βασισμένων σε διεθνή πρότυπα) και ρυθμίσεων χαρτογραφικής απεικόνισης." %}
</li>

<li>
　　{% trans "Δημιουργία χαρτογραφικών συνθέσεων (χαρτών/maps) με συνδυασμό (υπέρθεση / overlay) θεματικών επιπέδων, όπως χάρτες επικινδυνότητας, ζωνών κινδύνου, οικιστικής ανάπτυξης κλπ. Προσθήκη μεταδεδομένων (βασισμένων σε διεθνή πρότυπα) και ρυθμίσεων χαρτογραφικής απεικόνισης." %}
</li>
<li>
　　{% trans "Εύρεση θεματικών επιπέδων και χαρτών βάσει κριτηρίων (λεκτικών ή/και γεωγραφικών)." %}
</li>
<li>
　　{% trans "Απεικόνιση, χαρτογραφική πλοήγηση και επεξεργασία θεματικών επιπέδων και χαρτών. Παρέχονται δυνατότητες μεταφόρτωσης (download) και εκτυπώσεων." %}
</li>
</ul>

</div>
</div>
{% endblock %}
